<h1>Log in</h1>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag (MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/sessions") do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
