<%= form_for(@request, :class => "well") do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, :value => (Date.today + 28.days).strftime("%d/%m/%Y")  %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 120 %>
  </div>
  <%# The requestor field should autocomplete using the database of
       registered requestors, and also seamlessly allow type-in of a
       new requestor name. In the latter case, the next screen will
       allow the requestor details to be filled in. When the form is
       submitted, the POSTed data will contain precisely one of
       requestor_id and requestor_name %>

  <fieldset>
    <legend>Requestor</legend>
    <%= f.fields_for(:requestor) do |s| %>
      <%= s.hidden_field :id %>
      <%= render :partial => "requestors/common_fields", :locals => {:requestor => s} %>
    <% end %>
  </fieldset>

  <div class="field">
    <%= f.label :state %>
    <%= f.select(:state, Request::STATES.collect do |tag, (name, description)|
        [name, tag, {:title => description}]
      end) %>
    <div id="state-description"><%= @request.state_description %></div>
  </div>

  <div class="field" id="nondisclosure_reason-field"
    <% if @request.state != "not_disclosed" %>
      style="display: none;"
    <% end %>
    >
    <%= f.label :nondisclosure_reason %>
    <%= f.select(:nondisclosure_reason, Request::NONDISCLOSURE_REASONS.collect do |tag, (name, description)|
        [name, tag, {:title => description}]
      end, {:prompt => "Please select…"}) %>
    <div id="nondisclosure_reason-description"><%= @request.nondisclosure_reason_description %></div>
  </div>
  
  <div class="field">
    <%= f.label :lgcs_term, "LGCS term" %>
    <%= text_field_tag :request_lgcs_term, @request.lgcs_term %>
    <%= f.hidden_field :lgcs_term_id %>
  </div>
  
  <div class="field">
    <%= f.label :medium, "Request medium" %>
    <%= f.select :medium, [
      [ "Web", "web" ],
      [ "Email", "email" ],
      [ "Phone", "phone" ],
      [ "Fax", "fax" ],
      [ "Post", "post" ],
      [ "Other", "other" ],
    ] %>
  </div>
  
  <%# The body of the request %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :cols => 80 %>
  </div>

  <%# Flags %>
  <div class="field">
    <%= f.label :is_published, :class => "checkbox" do
      f.check_box(:is_published, :checked => @request.is_published.nil? || @request.is_published) + "Published"
    end %>
  </div>
  <% if @request.is_published? && !@request.remote_url.nil? %>
    <div id="reason_for_unpublishing_section">
      <%= label_tag :reason_for_unpublishing, "Reason for unpublishing" %>
      <%= text_field_tag :reason_for_unpublishing %>
      <p>This explanation will be sent to the administrators of WhatDoTheyKnow.com,
        so they can decide whether to remove the request from there.</p>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :is_requestor_name_visible, :class => "checkbox" do
      f.check_box(:is_requestor_name_visible) + "Requestor name visible"
    end %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
