<div class="request well">
  <div class="correspondence-header">
   <% if is_admin_view? %>
    From: <%= r.requestor %><br>
   <% elsif r.is_requestor_name_visible %>
    From: <%= r.requestor.name %><br>
   <% end %>
   To: <%= h(MySociety::Config.get("ORG_NAME")) %><br>
   Sent: <%= r.date_received_or_created.to_s(:short) %><br>
   Subject: <%= r.title %>
  </div>
  <hr>
  <div class="correspondence-body">
   <%= simple_format r.body %>
  </div>
</div>
