<% content_for :title, @request.title %>

<p id="notice"><%= notice %></p>
<div class="request-view request" role="main">
    <h3><%= @request.title %></h3>
    <p class="requested">Request made
      <% if @request.is_requestor_name_visible %>
        by <%= @request.requestor.name %>
      <% end %>
      on <time datetime="<%= @request.date_received_or_created.strftime('%Y-%m-%d %H:%M') %>"><%= @request.date_received_or_created.to_s(:short) %></time></p>
    <% if @request.date_responded %>
      <p class="updates">Last update by Brighton and Hove City Council on <%= @request.date_responded.to_s(:short) %>.</p>
    <% end %>
    <% case @request.state %>
      <% when "new", "assessing" %>
        <p class="status inprogress">In progress</p>
      <% when "disclosed", "partially_disclosed" %>
        <p class="status successful">Successful</p>
      <% when "not_disclosed" %>
        <p class="status unsuccessful">Not successful</p>
    <% end %>

    <% if @request.lgcs_term %>
      <div id="lgcs_term">
        <span><%= @request.lgcs_term %></span>
      </div>
    <% end %>

    <% if @request.remote_url %>
      <%= link_to("See request on WhatDoTheyKnow.com", @request.remote_url) %>
    <% end %>

    <ol class="correspondence-list">
        <li class="original-request">
          <%= render :partial => "requests/show_request_part", :locals => {:r => @request} %>
        </li>

        <% for response in @request.responses %>
          <li class="council-response">
            <%= render :partial => "responses/show_response_part", :locals => {:r => response} %>
          </li>
        <% end %>
        </li>
    </ol>

    <% if is_admin_view? %>
      Reply:
      <%= form_for([@request, Response.new]) do |f| %>
        <%= render :partial => "responses/reply_fields", :locals => {:response => f} %>
        <div class="actions">
          <%= f.submit "Submit Response" %>
        </div>
      <% end %>
    <% end %>
</div>

<% if is_admin_view? %>
  <%= link_to 'Edit', edit_request_path(@request) %>
<% end %>
