<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {
          // By month
          new google.visualization.LineChart(document.getElementById('chart_by_month'))
              .draw(google.visualization.arrayToDataTable([
                  ['Month', 'Requests'],
                  <%= @stats[:by_month].map do |month, count|
                      "['#{month}', #{count}]"
                  end.join(", ").html_safe %>
          ]), {
              title: 'Requests over time',
              legend: {position: "none"},
              fontSize: 12
          });

          // By state
          new google.visualization.PieChart(document.getElementById('chart_by_state'))
              .draw(google.visualization.arrayToDataTable([
                  ['State', 'Requests'],
                  <%= @stats[:by_state].map do |state, count|
                      "['#{state}', #{count}]"
                  end.join(", ").html_safe %>
          ]), {
              title: 'Request states'
          });

          // By month and state
          new google.visualization.AreaChart(document.getElementById('chart_by_month_and_state'))
              .draw(google.visualization.arrayToDataTable([
                  ['Month', <%= Request::STATES.values.map{|e| "'#{e[0]}'"}.join(", ").html_safe %>],
                  <% Date.today.month.upto(12) do |m| month = "%04d-%02d" % [Date.today.year - 1, m] %>
                    ['<%= month %>', <%= Request::STATES.keys.map{|s| @stats[:by_month_and_state][[s, month]] || 0}.join(", ").html_safe %>],
                  <% end %>
                  <% 1.upto(Date.today.month - 1) do |m| month = "%04d-%02d" % [Date.today.year, m] %>
                    ['<%= month %>', <%= Request::STATES.keys.map{|s| @stats[:by_month_and_state][[s, month]] || 0}.join(", ").html_safe %>],
                  <% end %>
          ]), {
              title: 'Request states over time',
              isStacked: true,
              height: 350
          });
      }
    </script>
<% end %>

<h1>FOI Statistics</h1>
<div id="charts">
  <div id="chart_by_month"></div>
  <div id="chart_by_month_and_state"><%= @stats[:by_month_and_state][["new", "2012-06"]].inspect %></div>
  <div id="chart_by_state"></div>
</div>
