<%# To include this as an iframe, do something like
<iframe src="http://foi.app.domain/requests" width="650" height="100%" style="border: 0px solid #fff"></iframe> 
%><!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FoiRegister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) -%>
</head>
<body>
  <% if is_admin_view? %>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">Foi Manager</a>
          <ul class="nav">
            <li><%= link_to "Manage requests", MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/requests/" %></li>
            <li><%= link_to "Manage users", MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/requestors/" %></li>
            <li><%= link_to "Statistics", MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/requests/stats" %></li>
          </ul>
        
          <form class="navbar-search pull-left" method="get" action="<%= MySociety::Config::get("ADMIN_PREFIX", "/admin") %>/requests/search">
            <input type="text" class="search-query span2" placeholder="Search" name="q">
          </form>
        
          <ul class="nav pull-right">
            <% if controller.current_staff_member.nil? %>
              <li><%= link_to "Log in", MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/sessions/new" %></li>
            <% else %>
              <li><%= link_to "Log out", MySociety::Config::get("ADMIN_PREFIX", "/admin") + "/sessions/logout" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container admin-page">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
