<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>
  
  <title><%= @title %></title>

  <!-- <meta name="viewport" content="width=device-width"> -->
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "modernizr-2.5.3.min.js" %>
</head>
<body id="bh-foi" class="homepage">
    
    
    <header class="header">
        <a href="<%= requests_path %>">
            <h1>
                <strong>Freedom of Information requests</strong>
                sent to Brighton &amp; Hove City Council
            </h1>
        </a>
    </header>
    
    
    <div class="site-nav">
        <nav role="navigation">
            <ul>
                <li><a class="nav-browse" href="<%= requests_path %>"><strong>Browse requests</strong> and see if your question has already been answered</a></li>
                <li><a class="nav-new" href="<%= new_request_path %>"><strong>Make a new request</strong> Write your FOI request and send it to the council</a></li>
                <%# <li><a class="nav-help" href="#help-TODO"><strong>FOI Help</strong> Get help and advice about writing your FOI request</a></li> %>
            </ul>
        </nav>
        
        <div id="about-foi">
            <h2>About the Freedom of Information Act</h2>
            <p>The Freedom of Information Act 2000 (FOI) gives individuals and corporate bodies the right of access to all types of recorded information held by local authorities, with the exception of certain specified exemptions (for instance personal information and commercially sensitive information).</p>
            <p>All public bodies must have in place a Publication Scheme listing the classes of information available to the public, you can view or <a href="http://www.brighton-hove.gov.uk/downloads/bhcc/freedom_of_information/BHCC_FOI_Pubilcation_Scheme_2009L.pdf">download the Brighton &amp; Hove City Council FOI Publication Scheme in PDF format</a>.</p>
        </div>
    </div>
    
    
    <div role="main" class="request-list">
        
        <form action="/requests/search" method="get" class="search" id="search">
            <label for="search-requests">
                <i class="icon-search">Search Requests</i>
                <input id="search-requests" name="q" type="search" />
            </label>
            <input id="submit-search-request" type="submit" value="search requests">
        </form>
        
        <%= yield %>
        
    </div>
    
    
    <footer class="footer">
        
    </footer>
    
    <script>
    if ("http:" == document.location.protocol) {
      document.write(unescape('%3Cscript src="http://www.brighton-hove.gov.uk/web/sites/bhcc/jscript/gatag.js" type="text/javascript"%3E%3C/script%3E'));
    }
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3524246-1");
    pageTracker._trackPageview();
    pageTracker._setVar("ExternalVisitor");
    </script>
</body>
</html>