<p>This email is in response to your request for information under the Freedom of Information Act 2000, ref: <%= @request.administrative_id %></p>

<p>Our response is as follows:</p>

<p><%= @response.public_part %></p>

<p>This response can also be viewed online at: <%= Rails.application.routes.url_helpers.request_url(nil, @request, :host => MySociety::Config.get("DOMAIN", "localhost:3000"), :protocol => (MySociety::Config.get("FOI_REG_SECURE", false) ? 'https' : 'http')) %></p>

<% unless @response.private_part.blank? or @response.request.requestor.email.blank? %>
  <p>Additionally, please see the information below, which is not suitable for publication online:</p>

  <p><%= raw @response.private_part %></p>
<% end %>

<% unless @response.request.requestor.email.blank? %>
    <p>Has this request has been handled satisfactorily? Please click on this link to provide feedback <%= Rails.application.routes.url_helpers.requestor_confirmation_url(@link_token, nil, :host => MySociety::Config.get("DOMAIN", "localhost:3000"), :protocol => (MySociety::Config.get("FOI_REG_SECURE", false) ? 'https' : 'http')) %></p>
<% end %>

<p>Should you have any further queries about this request, please contact me via the details at the foot of this email, quoting the reference number given above.</p>

<p>If you are not satisfied with the handling of your request, you can appeal. Write to:</p>

<p>Freedom of Information Appeals<br>
Brighton & Hove City Council<br>
ICT Room lst Floor<br>
Hove Town Hall<br>
Norton Road<br>
Hove BN3 4AH<br>
jan.mccartney@brighton-hove.gcsx.gov.uk</p>

<p>If you are still not satisfied after your complaint has been investigated, you can escalate your complaint to the Information Commissioners Office. The contact details are:</p>

<p><b>The Information Commissioners Office</b><br>
Wycliffe House<br>
Water Lane<br>
Wilmslow<br>
Cheshire SK9 5AF<br>
Telephone number: 01625 545745<br>
e-mail: <a href="mailto:data@dataprotection.gov.uk">data@dataprotection.gov.uk</a><br>
Website: <a href="www.dataprotection.gov.uk">www.dataprotection.gov.uk</a></p>


<p>We can also answer queries regarding this process: please contact me via the contact details below.</p>

<p><b>Wendy Kassamani</b><br>
Information Compliance Officer<br>
Brighton & Hove City Council<br>
Hove Town Hall<br>
Norton Road<br>
Hove, BN3 4AH<br>
<a href="mailto:Wendy.Kassamani@Brighton-Hove.gov.uk">Wendy.Kassamani@Brighton-Hove.gov.uk</a></p>


<p><b>Re-use of Public Sector Information and Copyright Statement</b></p>
<p>Where information has been supplied, you are advised that the copyright in that material is owned by Brighton &amp; Hove City Council and/or its contractor(s) unless otherwise stated.  The supply of documents under the Freedom of Information Act does not give the recipient an automatic right to re-use those documents in a way that would infringe copyright, for example, by making multiple copies, publishing and issuing copies to the public.
Brief extracts of the material can be reproduced under the “fair dealing” provisions of the Copyright Design and Patents Act 1998 (S.29 and S.30) for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>

<p>Authorisation to re-use copyright material not owned by Brighton &amp; Hove City Council and/or its contractor(s) should be sought from the copyright holders concerned. If you are considering re-using the information disclosed to you through this request, for any purpose outside of what could be considered for personal use, then you are required under the Public Sector Re-use of Information Regulations 2005 to make an Application for Re-use to the organisation from which you have requested the information.  Applications for Re-Use should be directed to Mr Paul O’Neill at the address above.</p>
